!!! 5
html
  head
    title ember test
    script(src="javascripts/jquery-1.8.0.min.js", type="application/javascript")
    script(src="javascripts/jquery-ui-1.8.23.custom.min.js", type="application/javascript")
    script(src="javascripts/handlebars-1.0.rc.1.js", type="application/javascript")
    script(src="javascripts/ember-1.0.pre.min.js", type="application/javascript")
    script(src="javascripts/application.js", type="application/javascript")
    script(src="javascripts/jquery.reveal.js", type="application/javascript")
    link(rel="stylesheet", href="styles.css", type="text/css")
    link(rel="stylesheet", href="css/smoothness/jquery-ui-1.8.23.custom.css", type="text/css")
    link(rel="stylesheet", href="http://fonts.googleapis.com/css?family=PT+Sans:400,700,800", type="text/css")
    link(rel="stylesheet", href="http://fonts.googleapis.com/css?family=Lato:400,700,900", type="text/css")
    link(rel="stylesheet", href="http://fonts.googleapis.com/css?family=Cabin:400,700,800", type="text/css")
    link(rel="stylesheet", href="http://fonts.googleapis.com/css?family=Ubuntu:400,700,800", type="text/css")
    link(rel="stylesheet", href="reveal.css", type="text/css")
  body
    div this will be a test of ember
    